pkgbase = cc-switch
	pkgdesc = All-in-One assistant tool for Claude Code, Codex, OpenCode, openclaw & Gemini CLI
	pkgver = 3.14.1
	pkgrel = 1
	url = https://github.com/farion1231/cc-switch
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = cargo-tauri
	makedepends = nodejs
	makedepends = pnpm
	makedepends = rust
	makedepends = xdg-utils
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = libsoup3
	depends = openssl
	depends = pango
	depends = webkit2gtk-4.1
	source = cc-switch-3.14.1.tar.gz::https://github.com/farion1231/cc-switch/archive/refs/tags/v3.14.1.tar.gz
	source = 0001-add-duplicate-action-for-universal-providers.patch
	sha256sums = e06791b370b5c8782d3ed46a4d3137ac6beb82b55318ceba609bc82f73a5c30d
	sha256sums = 97a0aac9a5f80858ed6871535b5b926399cddbc185a282fbede47eb15e92f02e

pkgname = cc-switch
